:root {
    --color-background: #1e1e1e;
    --color-foreground: #ffffff;
    --color-dim: #b2b2b2;
    --size-xxxtiny: 0.0625;
    --size-xxtiny: 0.125rem;
    --size-xtiny: 0.25rem;
    --size-tiny: 0.5rem;
    --size-small: 0.75rem;
    --size-medium: 1rem;
    --size-large: 1.5rem;
    --size-xlarge: 2rem;
    --size-xxlarge: 3rem;
    --size-xxxlarge: 4rem;
    --size-desktop-width: 600px;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-background: #eeeeee;
        --color-foreground: #1c1c1c;
        --color-dim: #444444;
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-size: 16px;
    font-family: "Hanuman", serif;
    font-weight: 300;
    font-style: normal;
}

#container {
    width: min(90%, var(--size-desktop-width));
    margin-inline: auto;
}

nav {
    display: flex;
    flex-direction: column;
    gap: var(--size-xtiny);
    margin-top: var(--size-large);
}

@media screen and (min-width: 800px) {
    nav {
        flex-direction: row;
        gap: var(--size-small);
    }

    nav a.push {
        margin-left: auto;
    }
}

nav a {
    text-transform: lowercase;
}

header {
    margin-block: var(--size-xxlarge);
}

h1 {
    font-size: var(--size-xxlarge);
    font-family: "Archivo", sans-serif;
    font-weight: 900;
    font-variation-settings: "wdth" 125;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: var(--size-small);
}

p {
    font-size: var(--size-medium);
}

a {
    color: var(--color-foreground);
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-thickness: var(--size-xxxtiny);
}

.subtitle {
    color: var(--color-dim);
}
