:root {
    --color-background: #f9faf9;
    --color-body: #545454;
    --color-accent: #738754;
    --color-accent-1: #91aa69;
    --color-accent-2: #515e3a;
    --color-accent-3: #2e3621;
}

body {
    max-width: 800px;
    margin: 2rem auto;

    background: var(--color-background);
    color: var(--color-body);

    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    line-height: 1.4;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

a {
    color: inherit;

    text-decoration: none;
    background-position-y: -0%;
    background-image: linear-gradient(180deg, transparent 50%, var(--color-accent) 50%);
    transition: all 0.1s ease;
    background-size: 2px;
    background-size: auto 190%;
    padding: 2px;
}

a:hover {
    background-position-y: 100%;
    color: var(--color-background);
    transition: all 0.1s ease;
}

header {
    display: flex;
    gap: 2rem;
}

.profile-photo {
    width: 200px;
    height: auto;
    aspect-ratio: 1;

    border-radius: 50%;
}

h1, h2, h3, .info b {
    color: var(--color-accent);
}

p {
    margin: 0;
}

.info {
    margin-bottom: 1.25rem;
}

.info h1, .info p {
    margin-bottom: 0.5rem;
}

.info h1 {
    line-height: 0.65;
    font-weight: 700;
}

.info b {
    font-weight: 500;
}

.info p {
    line-height: 0.95;
}

nav {
    padding: 0;
    display: flex;
    justify-content: center;

    background-color: var(--color-accent);

    overflow-x: scroll;
}

nav a {
    padding: 10px 14px;
    color: var(--color-background);

    background-image: none;

    font-weight: 500;
}

nav a:hover, nav a:active {
    background-image: linear-gradient(180deg, transparent 50%, var(--color-accent-2) 50%);
    background-size: auto 200%;
}

.section-heading {
    display: flex;
    align-items: center;
    gap: 12px;
}

.bar {
    width: 100%;
    margin-top: 0.25rem;
    height: 2px;
    border-radius: 2px;
    background-color: var(--color-accent);
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card {
    width: calc(100% - 22px); 
    max-width: 380px;
    margin-inline: auto;

    border: 1px solid var(--color-body);
    padding: 10px;

    font-size: 0.9rem;
    line-height: 1.4;
}

.card.active {
    border-width: 2px;
    border-color: var(--color-accent);
}

.card b {
    font-weight: 600;
}

@media (max-width: 800px) {
    body {
        margin-inline: 2rem;
    }

    header {
        flex-direction: column;
        gap: 0rem;
    }

    .profile-photo {
        width: 100%;
        max-width: 400px;
        margin-inline: auto;
    }

    nav {
        justify-content: flex-start;
    }

    .card-container {
        grid-template-columns: 1fr;
    }
}

